<h1>Log In</h1>

<form class="" action="<%= session_url %>" method="post">

  <label>Username
    <input type="text" name="user[username]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" name="" value="Log In">
</form>
